*{
    box-sizing: border-box; 
}

body{
    background-color: #36454F;
    color:white;
    font-family: Helvetica, sans-serif; 
    font-size: 16px;
    margin: 0; 
    padding: 0; 
    text-align: center; 
    /* display:flex; 
    flex-direction: column; 
    align-items:center; 
    min-height: 100px;  */

}

/* header{
    padding: 1rem; 
    display:flex; 
    justify-content: flex-end;
} */
header{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    padding: 5px;
    
}

header > div{
    margin-left: 30px;
}

h1{
    text-align: center; 
    margin: 20px 0;
}

#form{
    text-align: right;
    margin: 20px 0; 
}
.search{
    border: 3px solid; 
    border-radius: 3px; 
    background-color: transparent; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    font-family:Helvetica;
    cursor: text;
    margin-left: 10px; 

    /* background-color: #6c757d;
    border-color: #6c757d;
    padding:  0.5rem 2rem;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    font-family:Helvetica;  */
} 

.search-btn{
    border:0; 
    padding: 10px 20px;
    margin-top: 5px;
    font-weight: bold; 
    cursor: pointer;
}

.search::placeholder{
    color: white; 
}

.movie{
    width: 250px; 
    margin: 1rem; 
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px black;
    background-color: dark gray;
    position:relative;
    overflow: hidden; 

}
.movie img{
    width: 100%; 
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px black; 
}

.movie-card{
    color:white; 
    display: flex; 
}

.overview{
    position: absolute; 
    left: 0;
    right:0;
    bottom: 0; 
    background-color: #36454F;
    padding: 1rem; 
    max-height: 100%; 
    transform: translateY(101%)
    
}

.movie:hover .overview{
    transform: translateY(0);
}

main{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;  
    /* display: none; */
}



/* .hidden{
    display: none; 
} */

/* More button -- shows trailer*/
.know-more{
    border:0; 
    padding: 10px 20px;
    margin-top: 5px;
    font-weight: bold; 
    cursor: pointer;
}

/* The Overlay (background)--------w3Schools------------------------------------------------------------------------- */
/* source:https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: scroll;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/* ---------------------------------------------------------------------------------- */

/* animations */
.title{
    position: relative; 
    overflow:hidden; 
}

#title{
    /* position: absolute;  */
    transition: transform .7s ease-in-out; 
}

#title:hover{
    transform: rotate(360deg)
}
/* load more button */
#load-more-movies-btn{
    margin-top: 20px; 
    display: inline-block; 
    padding: 13px 30px; 
    border: 1px solid #334;
    font-size: 16px; 
    background-color: #fff;
    color:black; 
    cursor: pointer;
}

#load-more-movies-btn:hover{
    background-color: crimson; 
    border-color: crimson; 
    color: black;
}

/* main{
    display:none; 
}

main:nth-child(1),
main:nth-child(2){
    display: inline; 
} */
